<!DOCTYPE html>
<html lang="en-us" ng-app="angularApp">
    <head>
        <title>Introduction to AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body
            {
                font-size: 1.1em;
            }
        </style>

        <!-- load angular via CDN -->
        <script src="angular.min.js"></script>
        <script src="angular-messages.js"></script>
        <script src="directives2.js"></script>
    </head>
    <body>

    <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>

			</nav>
		</header>

    <div class="container">
			<div ng-controller="mainController">
                <h1>Hello world!!</h1>
                <label> what is your twitter handle</label>
                <input type="text" name="handle" ng-model="handle"/>
                <br>
                <div align="center">
                    <input type="button" value="Click" ng-click="alertClick();" class="btn btn-primary" />
                    <button ng-click="alertClick" ng-init="count=0" class="btn btn-primary">
                        Increment
                   </button>
                   <span>
                     count: {{count}}
                   </span>
                </div>
      </div>
    </div>

    </body>
</html>
